@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navBtn {
    @apply hidden h-6 md:inline-flex cursor-pointer hover:scale-125 transition-all duration-150 ease-out;
  }
  .btn {
    @apply h-7 hover:scale-110 transition-all duration-150 ease-out cursor-pointer;
  }
}

::-webkit-scrollbar {
  border-radius: 10px;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #f5aeae;
  display: none;
  transition: opacity ease-out;
  visibility: hidden;
}
::-webkit-scrollbar-thumb:hover {
  display: block;
  opacity: 1;
  visibility: visible;
}
